:root {
  font-family: 'FigtreeVariable', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

button {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  padding: 0.25rem;
}

h2,
label,
.error {
  font-weight: 500;
}

label,
.error {
  user-select: none;
}

.error {
  color: #b4271f;
  position: absolute;
  bottom: 0.25rem;
  left: 0;
  right: 0;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  .error {
    color: #ffb4aa;
  }
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.color-grid.margin-bottom {
  margin-bottom: 1rem;
}

.color-grid > * {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color {
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  border: none;
}

.color-input-container {
  position: relative;
}
.color-input-container .color {
  width: 100%;
  height: 100%;
}

@media (min-width: 580px) {
  .color-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  .color-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1220px) {
  .color-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
